<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
  </head>
  <body>
    <%- include('./layout/layout.ejs') %> ADMINS USERS
    <a href="/admin/products"> products</a>
    <a href="/admin/users"> users</a>
  </body>
</html>
