<!-- Author : Noé TATOUD -->
<!doctype html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/orderNav.css" />
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main>
      <%- include('../orderNav.ejs') %>
      <div class="">
        <a href="/order/infos" class="button button-primary">Purchase -></a>
      </div>
    </main>
  </body>
</html>
