<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../../imports.ejs') %>
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <main>CONTACTO</main>
</body>
<%-include('../scripts.ejs')%>

</html>