<!-- Author : Noé TATOUD -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Contact - Raul's butcher shop</title>

    <%- include('../../../imports.ejs') %>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/contact/contact.css"
  />
  </head>

  <bodyContact>
    <header><%- include('./layout/layout.ejs') %></header>
    <main>
      <div class="containerC">
        <h1><b>Contáctanos</b></h1>
        <p><b>Contactanos a través de nuestro número de teléfono o nuestro email o si prefieres un trato más personal ven a visitarnos directamente!</b></p>

        <div class="contact-info">
            <div>
                <h2><b>Teléfono</b></h2>
                <p><b> +34 666 666 666</b></p>
            </div>

            <div>
                <h2><b>Email</b></h2>
                <p><b>carniceriaderaulalmeria@outlook.com</b></p>
            </div>
        </div>

      <h2><b>Ubicación</b></h2>
      <div id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24329.847919575837!2d-3.7890750776114115!3d40.33722159310324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418a265cb9fbb3%3A0x2ca4620b2d16e75a!2sGaler%C3%ADa%20Nuestra%20Se%C3%B1ora%20de%20los%20Angeles!5e0!3m2!1ses!2ses!4v1703952577217!5m2!1ses!2ses"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe
        >"
      </div>
    </main>
  </bodyContact>
  <%-include('../scripts.ejs')%>
</html>