<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../imports.ejs') %>
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main>
      <h1>Buttons</h1>
      <div class="container" id="button-container">
        <div class="container m-2">
          <button class="button button-primary">Button</button>
          <button class="button button-xs button-primary">Button</button>
          <button class="button button-sm button-primary">Button</button>
          <button class="button button-lg button-primary">Button</button>
        </div>
        <div class="container m-2">
          <button class="button">Button</button>
          <button class="button button-xs">Button</button>
          <button class="button button-sm">Button</button>
          <button class="button button-lg">Button</button>
        </div>
        <div class="container m-2">
          <button class="button button-secondary">Button</button>
          <button class="button button-xs button-secondary">Button</button>
          <button class="button button-sm button-secondary">Button</button>
          <button class="button button-lg button-secondary">Button</button>
        </div>

        <div class="container m-2">
          <button class="button button-link">Button</button>
          <button class="button button-xs button-link">Button</button>
          <button class="button button-sm button-link">Button</button>
          <button class="button button-lg button-link">Button</button>
        </div>
        <div class="container m-2">
          <button class="button button-link-neutral">Button</button>
          <button class="button button-xs button-link-neutral">Button</button>
          <button class="button button-sm button-link-neutral">Button</button>
          <button class="button button-lg button-link-neutral">Button</button>
        </div>
      </div>
    </main>
  </body>
</html>
