body {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
}

/* Data styling */
data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  gap: 2rem;
}

.data-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.button.create i {
  font-size: var(--font-md);
}

table {
  background-color: white;
  table-layout: fixed;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
}

.table-head {
  justify-content: space-between;
  color: var(--gray-500);
  background-color: var(--gray-50);
}

.table-body {
  color: var(--gray-800);
}

.table-footer {
  height: 1rem;
  background-color: var(--gray-50);
}

.table-row {
  position: relative;
  height: 5rem;
  border-style: solid;
  border-color: var(--gray-200);
  border-width: 1px 0 1px 0;
  align-items: center;
}

.table-row .link-box {
  content: ' ';
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
}

.table-cell {
  position: relative;
  padding: 1rem;
  text-align: center;
}

.name,
.email {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 5rem;
}

/* Users specific style */

.auth {
  text-align: end;
}

.table-body .tag {
  text-emphasis: var(--gray-300);
}

.users-table .name {
  width: 35%;
  max-width: 35%;
}

.users-table .name .email {
  color: var(--gray-500);
}
/* Products specific style */
.products-table .name {
  width: 25%;
  max-width: 15rem;
}

.products-table .id {
  width: 15%;
}

.products-table .price {
  width: 25%;
  text-align: left;
}

.products-table .category {
  width: 30%;
  text-align: left;
}

.products-table .salePrice {
  color: var(--brand-600);
}

.product-empty,
.product-good,
.product-low {
  font-weight: bold;
}
.product-empty {
  opacity: 0.6;
  color: var(--gray-500);
}

.product-low {
  color: var(--brand-600);
}

.product-good {
  color: var(--green-600);
}

/* Order Specific styles */

.order-container {
  width: 100%;
  align-items: center;
  margin: 5rem 10rem;
  gap: 1rem;
}

.orders-table .status {
  padding-left: 0.5rem;
  width: 0.5rem;
}

.orders-table .name {
  width: 20%;
}

.orders-table .id {
  width: 5%;
}

.orders-table .date {
  width: 20%;
}
.order-summary {
  width: 100%;
  justify-content: end;
  gap: 0.5rem;
}

.user-form {
  height: 100%;
  width: 100%;
  justify-content: end;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.user-form .authorities-form-group {
  display: flex;
  flex-direction: row;
}

.product-row {
  width: 100%;
  justify-content: space-between;
  background: white;
  padding: 1rem 1rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  data {
    width: 100%;
  }
  table {
    width: 90%;
  }

  .data-top {
    width: 90%;
  }
  .users-table .name {
    width: 12rem;
  }
  .products-table .name {
    width: 50%;
  }

  .auth {
    width: 10rem;
  }

  .id,
  .category {
    display: none;
  }

  .products-table .price {
    width: 20%;
  }

  .products-table .action {
    width: 20%;
    margin-right: 0rem;
  }

  .actions {
    margin-right: -1rem;
  }

  .button.create {
    height: 3rem;
  }
  .button.create p {
    display: none;
  }

  .orders-table .date:not(.recovery) {
    display: none;
  }

  .orders-table .name {
    width: 30%;
  }

  .orders-table .date {
    width: 30%;
  }
}

/* Intermediate styling for the table */
@media screen and (max-width: 960px) {
  .orders-table .id {
    display: none;
  }
  .orders-table .date {
    width: 20%;
  }
  .orders-table .price {
    width: 10%;
  }
}
