@import "colors.css";
@import "styles.css";
/*  Defining button variants as we want them to look */

/* Default Button styling */

.button {
  box-sizing: border-box;
  border-radius: 6px;
  border: 0px;
  outline: 1px solid var(--gray-300);
  outline-offset: -1px;
  box-shadow: none;
  font-weight: 500;
  height: 40px;
  padding: 0px 14px;
  font-size: var(--font-md);
  background-color: white;
  color: var(--gray-600);
  width: fit-content;
  text-decoration: none;
}
.button a {
  color: var(--gray-600);
  text-decoration: none;
}

/* Button sizes */
.button-xs {
  font-size: var(--font-xs);
  height: 24px;
  padding: 0px 8px;
}

.button-sm {
  font-size: var(--font-sm);
  height: 32px;
  padding: 0 12px;
}

.button-lg {
  font-size: var(--font-lg);
  height: 48px;
  padding: 0 20px;
}

/* Button color variants */
.button-primary {
  outline: 0px;
  background-color: var(--brand-600);
  color: white;
}

.button-primary * {
  color: white;
}

.button-secondary {
  color: var(--brand-600);
}

.button-secondary i {
  color: var(--brand-600);
}

.button-link {
  outline: 0px;
  color: var(--brand-600);
}

.button-link i {
  color: var(--brand-600);
}
.button-link a {
  color: var(--brand-600);
  text-decoration: none;
}

.button-link-neutral {
  outline: 0px;
}

.button-link-neutral a {
  color: var(--gray-600);
  text-decoration: none;
}
