@import url(https://fonts.googleapis.com/css?family=Inter%20Tight);
@import url(https://fonts.googleapis.com/css?family=Just%20Another%20Hand);

main {
  background-color: var(--brand-100);
}

.banner {
  position: relative;
  display: flex;
  font-family: 'Inter Tight';
  align-items: center;
  justify-content: center;
  height: calc(100vh - 7rem);
  color: var(--gray-800);
  padding: 2rem 5rem;
  width: 100%;
  max-width: 100vw;
}

.banner img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 2rem;
  filter: brightness(0.8);
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 40rem;
  width: 40rem;
  gap: 1rem;
}
.banner-content > * {
  width: fit-content;
}
.banner-content .title .add-on {
  font-family: 'Just Another Hand';
  color: var(--gray-600);
  font-size: 1.5rem;
}
.banner-content .title .main {
  font-size: 6rem;
  margin-top: -2rem;
}

.banner-content .title .rest {
  font-size: 2.5rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.banner-content .banner-body {
  font-size: 1.5rem;
  color: var(--gray-600);
}

.banner-content .banner-body a {
  width: fit-content;
  font-size: var(--font-xl);
  padding: 1rem 2rem;
  margin: 2rem 0;
}

.section {
  display: flex;
  align-items: center;
  width: 110%;
  height: 40vh;
  background-color: var(--gray-900);
  transform-origin: 0 0;

  overflow: hidden;
  color: var(--brand-100);
  font-size: var(--font-xl);
}
.section {
  transform: rotate(-2deg) translateX(-8%);
}
.section1 > * {
  transform: rotate(2deg) translateX(6%);
}
.section img {
  width: 40%;
  object-fit: cover;
  margin: 1rem;
  height: 30rem;
  border-radius: 0.5rem;
  transform-origin: 0 0;
}

.section .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 2rem;
  height: 30rem;
  gap: 1rem;
}

.section .section-content .text-emphasis {
  font-size: var(--font-2xl);
}

.section .section-content a.text-emphasis {
  color: var(--brand-600);
}
.section1 .section-content .time-table .day {
  padding: 0 0.75rem;
  text-align: left;
}

.section1 .section-content .time-table td:not(.day) {
  text-align: center;
}

.section2 {
  margin-top: 1rem;
}
.section2 > * {
  transform: rotate(2deg) translateX(10%);
}

.section2 .section-title {
  font-size: var(--font-2xl);
  padding: 2rem;
  margin-top: -2rem;
}
.section2 ul {
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  text-align: left;
  gap: 2rem;
}

.section2 i {
  font-size: var(--font-2xl);
  color: var(--brand-600);
}

@media screen and (max-width: 1350px) {
  .banner-content .title .add-on {
    padding-top: 0.5rem;
    font-size: 1.25rem;
  }
  .banner-content .title .main {
    font-size: 3rem;
    margin-top: -1.5rem;
  }

  .banner-content .title .rest {
    font-size: 1.5rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }

  .banner-content .banner-body {
    font-size: 1.2rem;
    color: var(--gray-600);
    text-align: center;
  }
}
@media all and (max-width: 1000px) {
  .section img {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    height: calc(100vh - 5rem);
    padding-top: 0;
    width: 100%;
  }

  .banner img {
    height: 15rem;
    width: 100vw;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  .section {
    transform: rotate(-2deg) translateX(-4%);
  }
  .section .section-content {
    text-align: center;
    width: 90%;
    margin: 0;
    transform: rotate(2deg) translateX(3%);
  }
}

/* For landcape mode on mobile */
@media all and (max-height: 500px) {
  .banner {
    height: 44rem;
  }
  .banner img {
    display: none;
  }

  .section {
    height: 25rem;
  }
}
