@import "colors.css";

.input-group {
  background-color: var(--gray-50);
  border-radius: 6px;
  border: 1px solid var(--gray-200);
  height: 40px;
}

.form-control {
  background-color: var(--gray-50);
  border-radius: 6px;
  border: 1px solid var(--gray-200);
  height: 40px;
}

.input-group .input-group-text,
.input-group .form-control {
  background-color: transparent;
  border: 0px;
  height: 100%;
  padding: 0 0.5rem;
}

/* CSS for the password input */
#togglePassword {
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none;
  outline: 2px blue solid;
  border: none;
}

.input-group .form-control:focus {
  outline: none;
}
.input-group:has(.form-control:focus) {
  outline: 2px blue solid;
}

.form-check-input:checked {
  background-color: var(--brand-500);
  box-shadow: none;
  border: 1px solid var(--brand-800);
}

.form-check-input:focus {
  box-shadow: none;
  border: 1px solid var(--red-800);
}

.form-check-input:not(:checked):focus {
  border: 1px solid var(--blue-800);
}

.form-check-input:not(:checked):focus {
  filter: hue-rotate(130deg);
}

/* Quantity input */
.button-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  border: 1px solid var(--gray-200);
  border-radius: 0.1rem;
}

.button-quantity input::-webkit-inner-spin-button {
  position: absolute;
  width: 0;
  visibility: hidden;
  opacity: 0;
}

.button-quantity input {
  display: flex;
  flex-direction: row;
  border: none;
  text-align: center;
}

.button-quantity .buttons {
  display: flex;
  flex-direction: column;
}

.button-quantity .buttons .button {
  font-size: var(--font-sm);
  width: 1.5rem;
  height: 1.25rem;
  padding: 0;
}

.button-quantity .buttons .button:disabled,
.button-quantity .buttons .button:disabled i {
  border: none;
  background-color: transparent;
}

.form-control#email.error,
.input-group:has(.form-control.error:focus) {
  outline: 2px var(--brand-500) solid;
}

span.error {
  display: none;
  color: var(--brand-600);
  opacity: 0;
}

span.error.show {
  display: block;
  opacity: 1;
}

.credential-error {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--brand-100);
  color: var(--brand-800);
  border: 1px solid var(--brand-700);
  font-size: var(--font-lg);
  border-radius: 0.25rem;
  font-weight: bold;
  gap: 1rem;
  margin-bottom: -1rem;
}

.success-alert {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: limegreen;
  color: green;
  border: 1px solid darkgreen;
  font-size: var(--font-lg);
  border-radius: 0.25rem;
  font-weight: bold;
  gap: 1rem;
  margin-bottom: -1rem;
}

.form-group:has(*:required) label:after {
  content: "*";
  color: red;
  padding-left: 0.25rem;
}
