@import url(https://fonts.googleapis.com/css?family=Inter);
@import './styles/colors.css';
@import './styles/styles.css';
@import './components/index.css';

html,
body {
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
}
body * {
  margin: 0;
}

body *::selection {
  background-color: var(--brand-400);
}

body {
  font-family: 'Inter';
  font-display: swap;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-100);
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  height: 7rem;
}

main {
  width: 100%;
  height: max-content;
}

.mobile {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  background: white;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.form h2 {
  font-weight: bold;
  font-size: var(--font-xl);
}

.form button {
  justify-self: flex-end;
}

.login-form,
.reset-password-form {
  width: 40%;
}

.signup-form {
  width: 460px;
}

.section-title {
  font-size: var(--font-2xl);
  font-weight: bold;
}
@media all and (max-width: 768px) {
  header {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
  }

  main {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    margin-top: 4rem;
    margin-bottom: 4.5rem;
  }
  header {
    position: fixed;
    visibility: hidden;
    z-index: 10;
  }

  .mobile {
    display: flex;
  }

  .topbar,
  .menu-navbar {
    visibility: visible;
  }
  .login-form,
  .reset-password-form {
    width: 100%;
  }

  .signup-form {
    width: 460px;
  }
}

.preloader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
}

.preloader > * {
  margin-bottom: 5rem;
}
