@import "colors.css";
@import "styles.css";
@import url(https://fonts.googleapis.com/css?family=Inter);
html,
body {
  height: max-content;
}
body * {
  margin: 0;
}

body *::selection {
  background-color: var(--brand-400);
}

body {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  background-color: var(--gray-100);
  overflow: scroll;
}

header {
  height: 7rem;
}

main {
  width: 100%;
  height: max-content;
}

.form {
  width: 80vw;
  background: white;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.form h2 {
  font-weight: bold;
  font-size: var(--font-xl);
}

.form button {
  justify-self: flex-end;
}

.login-form,
.reset-password-form {
  width: 40%;
}

.signup-form {
  width: 460px;
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .login-form,
  .reset-password-form {
    width: 100%;
  }

  .signup-form {
    width: 460px;
  }
}

.hide {
  visibility: hidden;
}

.form-nav {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}
.form-nav2 {
  display: flex;
  width: 80%;
  justify-content: left;
}

#billing {
  gap: 1rem;
}

#contact {
  gap: 1rem;
}

#recovery {
  gap: 1rem;
}

.button-container3 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.button-container4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: white;
  padding-left: 1000px;
}

.button-container5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
  background-color: white;
  padding-left: 8rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-group {
  flex: 1;
  margin-right: 10px;
}
.form-group:last-child {
  margin-right: 0;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.view {
  display: none;
}
.active {
  display: block;
}
.progress-bar {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}
.progress-bar span {
  margin-right: 0px;
  font-weight: bold;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding-bottom: 0.5rem;
}
.progress-bar .current {
  color: blue;
  border-color: blue;
}
.progress-bar .completed {
  color: green;
  border-color: green;
}
.progress-bar .pending {
  color: black;
  border-color: black;
}
