@import 'colors.css';
@import 'styles.css';
@import url(https://fonts.googleapis.com/css?family=Inter);

html,
body {
  height: max-content;
}
body * {
  margin: 0;
}

body *::selection {
  background-color: var(--brand-400);
}

body {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  background-color: var(--gray-100);
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  height: 7rem;
}

main {
  width: 100%;
  height: max-content;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  background: white;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.form h2 {
  font-weight: bold;
  font-size: var(--font-xl);
}

.form button {
  justify-self: flex-end;
}

.login-form,
.reset-password-form {
  width: 40%;
}

.signup-form {
  width: 460px;
}

.section-title {
  font-size: var(--font-2xl);
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .login-form,
  .reset-password-form {
    width: 100%;
  }

  .signup-form {
    width: 460px;
  }
}
