.order-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  padding: 2em;
}

.order-nav li {
  list-style: none;
  width: 10%;
}

.order-nav a {
  display: flex;
  font-weight: bold;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.order-nav a p {
  margin-top: -0.75em;
}

.order-nav .spacer {
  display: flex;
  flex-direction: row;
  height: max-content;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.order-nav .spacer * {
  content: ' ';
  width: 2rem;
  height: 0.25rem;
}
.spacer .start {
  border-top-left-radius: 25px;
  /* border-bottom-left-radius: 40%; */
}

.spacer .end {
  border-bottom-right-radius: 25px;
  /* border-top-right-radius: 30%; */
}

/* Done styles */

.order-nav li.done > * {
  color: green;
}
.order-nav .spacer .done {
  background: green;
}

/* In Progress styles */
.order-nav li.current > * {
  color: var(--blue-600);
}
.order-nav .spacer .current {
  background: var(--blue-600);
}

/* ToDo styles */
.order-nav li.todo > * {
  color: var(--gray-400);
}
.order-nav .spacer .todo {
  background: var(--gray-400);
}
