.order-nav {
  display: grid;
  grid-template-columns: repeat(5, 4rem);
  margin: 2rem;
}

.order-nav > .cart {
  grid-column: 1;
}

.order-nav > .infos {
  grid-column: 3;
}

.order-nav > .payment {
  grid-column: 5;
}
.order-nav a {
  grid-row: 1;
  display: flex;
  font-weight: bold;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--gray-400);
}

.order-nav .spacer {
  display: flex;
  flex-direction: row;
  height: max-content;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.order-nav .spacer * {
  content: ' ';
  width: 1.5rem;
  height: 0.25rem;
  background: var(--gray-400);
}
.spacer .start {
  border-top-left-radius: 25px;
}

.spacer .end {
  border-bottom-right-radius: 25px;
}

/* Done styles */

.order-nav a.completed > * {
  color: green;
}
.order-nav .spacer .completed {
  background: green;
}

/* In Progress styles */
.order-nav a.current > * {
  color: var(--blue-600);
}
.order-nav .spacer .current {
  background: var(--blue-600);
}
