.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  font-weight: bold;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
