<!-- Author : Noé TATOUD -->
<!doctype html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/infos.css" />
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main>
      <%- include('../orderNav.ejs') %>
      <div id="billing" class="d-flex flex-column align-items-center">
        <div class="progress-bar d-flex flex-row">
          <span class="current bi bi-check"> Dirección de facturación</span
          ><span class="pending bi bi-chevron-right"> Contacto </span>
          <span class="pending bi bi-chevron-right"> Recogida </span>
        </div>

        <form class="form">
          <h1><b>Dirección de facturación</b></h1>
          <div class="form-row">
            <div class="form-group">
              <label for="field1"
                ><b>País <span style="color: red">*</span></b></label
              >
              <input
                class="form-control"
                type="text"
                id="field1"
                name="field1"
              />
            </div>
            <div class="form-group">
              <label for="field2"
                ><b>Región <span style="color: red">*</span></b></label
              >
              <input
                class="form-control"
                type="text"
                id="field2"
                name="field2"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="field3"
                ><b>Ciudad <span style="color: red">*</span></b></label
              >
              <input
                class="form-control"
                type="text"
                id="field3"
                name="field3"
              />
            </div>
            <div class="form-group">
              <label for="field4"
                ><b>Código postal <span style="color: red">*</span></b></label
              >
              <input
                class="form-control"
                type="text"
                id="field4"
                name="field4"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="field5"
              ><b>Dirección 1 <span style="color: red">*</span></b></label
            >
            <input class="form-control" type="text" id="field5" name="field5" />
          </div>
          <div class="form-group">
            <label for="field6"><b>Dirección 2</b></label>
            <input class="form-control" type="text" id="field6" name="field6" />
          </div>
        </form>
        <b>1/3</b
        ><span class="form-nav">
          <button
            type="button"
            class="button button-secondary"
            onclick="changeView('contact')"
          >
            Contacto->
          </button>
        </span>
        <div class="space-below"></div>
        <div class="button-container5">
          <a href="/order/cart" class="button button-primary"> <- Carrito </a>
        </div>
      </div>

      <div id="contact" class="d-none">
        <div class="progress-bar d-flex flex-row">
          <span class="completed">✓ Dirección de facturación > </span
          ><span class="current"> Contacto > </span>
          <span class="pending"> Recogida </span>
        </div>
        <form class="form">
          <h1><b>Contacto</b></h1>
          <div class="form-row">
            <div class="form-group">
              <label for="phone"
                ><b>Teléfono: <span style="color: red">*</span></b></label
              ><br />
              <input
                class="form-control"
                type="tel"
                id="phone"
                name="phone"
              /><br />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="email"
                ><b
                  >Correo Electrónico: <span style="color: red">*</span></b
                ></label
              ><br />
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
              /><br />
            </div>
          </div>
        </form>
        <b>2/3</b>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
          "
        >
          <span class="form-nav2">
            <button
              type="button"
              class="button button-secondary"
              onclick="changeView('billing')"
            >
              <-Dirección de facturación
            </button> </span
          ><span class="form-nav"
            ><button
              type="button"
              class="button button-secondary"
              onclick="changeView('recovery')"
            >
              Recogida->
            </button></span
          >
        </div>
        <div class="space-below"></div>
        <div class="button-container5">
          <a href="/order/cart" class="button button-primary"> <- Carrito </a>
        </div>
      </div>

      <div id="recovery" class="d-none">
        <div class="progress-bar d-flex flex-row">
          <span class="completed">✓ Dirección de facturación > </span
          ><span class="completed"> Contacto > </span>
          <span class="current"> Recogida </span>
        </div>
        <form class="form">
          <h1><b>Recogida</b></h1>
          <div class="form-row">
            <div class="form-group">
              <label for="day"
                ><b
                  >Fecha de recogida: <span style="color: red">*</span></b
                ></label
              ><br />
              <input
                class="form-control"
                type="date"
                id="day"
                name="day"
              /><br />
            </div>
            <div class="form-group">
              <label for="time"
                ><b>Hora: <span style="color: red">*</span></b></label
              ><br />
              <input
                class="form-control"
                type="time"
                id="time"
                name="time"
              /><br />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="comment"><b>Comentarios:</b></label
              ><br />
              <textarea
                class="form-control2"
                id="comment"
                name="comment"
              ></textarea
              ><br />
            </div>
          </div>
        </form>
        <b>3/3</b>
        <span class="form-nav2">
          <button
            type="button"
            class="button button-secondary"
            onclick="changeView('contact')"
          >
            <-Contacto
          </button></span
        >

        <div class="button-container3">
          <a href="/order/cart" class="button button-secondary"> <- Carrito </a>
          <a href="/order/payment" class="button button-primary">
            Confirmar compra ✓
          </a>
        </div>
      </div>

      <script>
        function changeView(viewId) {
          var views = ["billing", "contact", "recovery"];
          for (var i = 0; i < views.length; i++) {
            document
              .getElementById(views[i])
              .classList.remove("d-flex", "flex-column", "align-items-center");
            document.getElementById(views[i]).classList.add("d-none");
          }
          document.getElementById(viewId).classList.remove("d-none");
          document
            .getElementById(viewId)
            .classList.add("d-flex", "flex-column", "align-items-center");
        }
      </script>
    </main>
  </body>
</html>
