.offcanvas.offcanvas-bottom {
  background-color: var(--gray-100);
  border-radius: 0.25rem;
  color: var(--gray-700);
  bottom: 1rem;
  padding: 1rem;
  right: unset;
  left: unset;
  width: 80%;
  margin: 0 10%;
  font-size: var(--font-lg);
}

.offcanvas.offcanvas-bottom .offcanvas-body {
  gap: 1rem;
  text-align: center;
}
.offcanvas.offcanvas-bottom img {
  width: 5rem;
  height: 5rem;
}

.offcanvas.offcanvas-bottom p a {
  color: var(--brand-600);
  text-decoration: underline;
}

.offcanvas.offcanvas-bottom .button-link {
  text-decoration: underline;
}

@media all and (max-width: 768px) {
  .offcanvas-body {
    overflow: visible;
    flex-direction: column;
  }

  .offcanvas.offcanvas-bottom {
    width: 90%;
    align-items: center;
    margin: 0 5%;
  }

  .offcanvas.offcanvas-bottom img {
    opacity: 1;
    margin-top: -4.5rem;
  }
}
