<link rel="stylesheet" type="text/css" href="/css/account.css" />
<div class="sidebar">
  <div class="sidebar-button">
    <button class="button button-lg button-link-neutral">
      <a class="nav-link bi bi-person-fill-gear" href="/account/profile">  Mi cuenta</a>
    </button>
  </div>
  <div class="sidebar-button">
    <button class="button button-lg button-link-neutral">
      <a class="nav-link bi bi-shield-shaded" href="/account/password">  Cambiar contraseña</a>
    </button>
  </div>
</div>





