<menu class="account-menu d-flex flex-column">
  <p class="dropdown-header">Account</p>
  <a href="/account/profile"><i class="bi bi-person"></i> Mi cuenta</a>
  <a href="/account/password"><i class="bi bi-lock"></i> Cambiar contraseña</a>
</menu>
