<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../imports.ejs') %>
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main class="d-flex flex-column align-items-center">
      <%- include('./auth/auth-tab.ejs') %>
      <form class="signup-form d-grid">
        <h2>Sign Up</h2>
        <div class="d-flex flex-row gap-3">
          <div class="form-group">
            <label for="firstName">Name</label>
            <input type="text" class="form-control" id="firstName" required />
          </div>
          <div class="form-group">
            <label for="firstName">Surname</label>
            <input type="text" class="form-control" id="lastName" required />
          </div>
        </div>
        <%- include('./auth/email-password-form.ejs') %>
        <button type="submit" class="button button-primary">
          Create Account
        </button>
      </form>
    </main>
  </body>
</html>
