<!-- Author : Noé TATOUD -->
<!doctype html>
<html lang="en">

<head>
  <%- include('../../../imports.ejs') %>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/layout/orderNav.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <main>payment <%- include('../orderNav.ejs') %></main>
  <%-include('../scripts.ejs')%>
  <div class="toast-container"></div>
</body>

<script>
  const toast = localStorage.getItem('toast');
  if (toast === 'update') {
    toastSuccess('Informations sent successfully');
  }
  localStorage.clear();
</script>

</html>