<menu class="admin-menu d-flex flex-column">
  <p class="dropdown-header">Administration</p>
  <a href="/admin/users"><i class="bi bi-people"></i> Users</a>
  <a href="/admin/products"><i class="bi bi-tag"></i> Products</a>
</menu>
