<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
  </head>
  <body>
    <%- include('./layout/layout.ejs') %> SOBRE ME
  </body>
</html>
