<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>About - Raul's butcher shop</title>

  <%- include('../../../imports.ejs') %>
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <main>
    What are Cookies?
    Cookies are small text files that are stored on your device by your web browser. They serve various purposes, such as remembering your preferences or providing essential functionality during your visit.

    How We Use Cookies
    We use cookies solely for the purpose of maintaining your shopping cart when you are not logged in. These cookies help us ensure a seamless shopping experience by temporarily storing information about the items you have added to your cart.

    Types of Cookies
    Session Cookies: These cookies are temporary and are deleted when you close your browser. They are used to maintain your cart during your browsing session.
    Managing Cookies
    You can control and manage cookies in your browser settings. However, please be aware that disabling essential cookies may affect the functionality of certain parts of the website.

    Third-Party Cookies
    We do not use third-party cookies on this website for tracking or advertising purposes.

    Changes to this Cookie Policy
    We may update this Cookie Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. Please revisit this page periodically to stay informed about our use of cookies.

    Contact Us
    If you have any questions or concerns about our use of cookies, please contact us.


  </main>
</body>

</html>