<!-- Author : Noé TATOUD -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>About - Raul's butcher shop</title>

    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/about/about.css" />
  </head>

  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main>
      <h2>What are Cookies?</h2>
      <p>
        Cookies are small text files that are stored on your device by your web
        browser. They serve various purposes, such as remembering your
        preferences or providing essential functionality during your visit.
      </p>

      <h2>How We Use Cookies</h2>
      <p>
        We use cookies solely for the purpose of maintaining your shopping cart
        when you are not logged in. These cookies help us ensure a seamless
        shopping experience by temporarily storing information about the items
        you have added to your cart.
      </p>

      <h2>Types of Cookies</h2>
      <p>
        Session Cookies: These cookies are temporary and are deleted when you
        close your browser. They are used to maintain your cart during your
        browsing session.
      </p>

      <h2>Managing Cookies</h2>
      <p>
        You can control and manage cookies in your browser settings. However,
        please be aware that disabling essential cookies may affect the
        functionality of certain parts of the website.
      </p>

      <h2>Third-Party Cookies</h2>
      <p>
        We do not use third-party cookies on this website for tracking or
        advertising purposes.
      </p>

      <h2>Changes to this Cookie Policy</h2>
      <p>
        We may update this Cookie Policy from time to time to reflect changes in
        our practices or for other operational, legal, or regulatory reasons.
        Please revisit this page periodically to stay informed about our use of
        cookies.
      </p>

      <h2>Contact Us</h2>
      <p>
        If you have any questions or concerns about our use of cookies, please
        contact us.
      </p>
    </main>
  </body>
</html>
