<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Home - Raul's butcher shop</title>
  <%- include('../imports.ejs') %>

  <link
      rel="stylesheet"
      href="/css/home.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>

  <%- include('../../../components/toast/toast.ejs')%>
  <main>
    <div class="banner">
      <div class="banner-content">
        <div class="title">
          <p class="add-on">FRESH MEAT IN MADRID</p>
          <p class="main you-order">You order.</p>
          <p class="main we-prepare"><b>We prepare.</b></p>
          <p class="main you-recover">You recover.</p>

          <p class="rest">At Raul butcher shop</p>
        </div>
        <div class="banner-body">
          <p>Our meat is 100% from spain</p>
          <div class="d-flex">

            <a
                href="/shop"
                type="button"
                role="button"
                class="button button-primary button-lg"
            ><i class="bi bi-shop"></i>Go shopping now</a>
            <a
                href="/contact"
                type="button"
                role="button"
                class="button button-link-neutral"
            >Find us<i class="bi bi-arrow-right"></i></a>

          </div>
        </div>
      </div>
      <img
          src="/assets/images/home.webp"
          role="img"
          alt='Display of meets from the shop'
          aria-label="Display of meets from the shop"
      />

    </div>
    <div class="section section1 d-flex">
      <img
          src="/assets/images/cows_1.jpeg"
          alt="Illustration of cows"
      ></img>
      <div class="section-content">
        <p>Selling meat in <a
              class="text-emphasis"
              href="https://todoestaenmadrid.com/es/shops/carniceria-y-charcuteria-merca-san-fermin-cb"
          ><b>Merca Sanfermin</b></a> since <b class="text-emphasis">2000</b></p>
        <table class="time-table">
          <tr>
            <td class="day"><b>Monday</b></td>
            <td>9am - 2pm / 5pm - 8pm</td>
          </tr>
          <tr>
            <td class="day"><b>Tuesday</b></td>
            <td>9am - 2pm / 5pm - 8pm</td>

          </tr>
          <tr>
            <td class="day"><b>Wednesday</b></td>
            <td>9am - 2pm / 5pm - 8pm</td>

          </tr>
          <tr>
            <td class="day"><b>Thursday</b></td>
            <td>9am - 2pm / 5pm - 8pm</td>

          </tr>
          <tr>
            <td class="day"><b>Friday</b></td>
            <td>9am - 2pm / 5pm - 8pm</td>

          </tr>
          <tr>
            <td class="day"><b>Saturday</b></td>
            <td>9am - 2pm / 5pm - 8pm</td>

          </tr>
          <tr>
            <td class="day"><b>Sunday</b></td>
            <td>Closed</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="section section2 d-flex">
      <div class="section-content">
        <div class="section-title">An <b>easy</b> process.</div>
        <ul>
          <li>
            <i class="bi bi-search"></i> <b>Shop</b> products
          </li>
          <li>
            <i class="bi bi-cursor"></i> <b>Select</b> recovery date
          </li>
          <li>
            <i class="bi bi-box-seam"></i> <b>Pick up</b> your order
          </li>
        </ul>
      </div>
      <img
          src="/assets/images/display_1.jpeg"
          alt="Illustration of meat"
      ></img>

    </div>
  </main>
  <%-include('../scripts.ejs')%>
</body>

</html>