<div class="actionbar">
  <a href="./" class="button button-secondary button-xl"> Cancel </a>
  <button class="button button-primary button-xl" type="submit">
    <%if(data){%>Update<%} else { %>Create<% }%>
  </button>
</div>
