<div class="actionbar">
  <a href="../" class="button button-secondary button-xl">
    <%=leftButtonTitle%>
  </a>
  <button class="button button-primary button-xl" type="submit">
    <%=rightButtonTitle%>
  </button>
</div>
