<script src="/jquery.min.js"></script>
<nav class="navbar menu-navbar navbar-expand sticky-top">
  <div class="container-fluid navbar-container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop">Tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Sobre mi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Cuenta</a>
      </li>
      <span class="nav-item justify-self-end">
        <a class="nav-link" href="/admin">Admin</a>
      </span>
    </ul>
  </div>
</nav>
<!-- <script type="text/javascript" src="/features/layout/navbar.js"> -->
<script type="text/javascript">
  const navItems = $(".menu-navbar .nav-link");
  // Remove the active tag of the previous item
  $(".nav-item .active").removeClass("active");

  // Add the active tag to the new current item
  const currentPath = window.location.pathname;
  const currentElement = navItems.filter((index, navItem) => {
    if (
      navItem.getAttribute("href") === currentPath ||
      (navItem.getAttribute("href") === "/admin" &&
        currentPath.includes("/admin/")) ||
      (navItem.getAttribute("href") === "/shop" &&
        currentPath.includes("/shop/"))
    )
      return navItem;
  });
  currentElement.addClass("active");
</script>
