<!-- Author : Noé TATOUD -->

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid navbar-container">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop">Tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Sobre mi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contacto</a>
      </li>
    </ul>
    <span class="nav-item justify-self-end">
      <a class="nav-link" href="/admin">Admin</a>
    </span>
  </div>
</nav>
