<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" href="account.css">
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <section class="main-view">
      <div class="profile-title">
        <h1>Bienvenido <%= accountName %></h1>
      </div>
    </section>
      <main class = "main-content">
        <div class = "left-content">
          <%- include('../../features/account/accountNav.ejs') %>
        </div>

        <div class="right-content">
          <form 
          class="d-flex account-form "
          action="/account/password"
          method="POST"
          role="form"
          >
            <div>
              <h2>Cambiar contraseña</h2>
            </div>
            <div class="form-group">
              <label for="oldPassword">Introduzca la antigua contraseña</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="bi bi-eye-slash" id="togglePasswordOld"></i>
                  </div>
                </div>
                <input 
                name="oldPassword"
                type="password" 
                class="form-control" 
                id="oldPassword" 
                required />
                <span class="passwordNotFoundError" 
                style="color: red; display: none;">
                La contraseña no es correcta.
              </span>
              </div>
            </div>
            <div class="form-group">
              <label for="NewPassword">Introduzca la nueva contraseña</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="bi bi-eye-slash" id="togglePasswordNew"></i>
                  </div>
                </div>
                <input type="password" class="form-control" id="NewPassword" required />
                <span class="password error"
                  >Your password should:
                  <ul></ul>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="PasswordCheck">Introduzca de nuevo la contraseña</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="bi bi-eye-slash" id="togglePasswordNewCheck"></i>
                  </div>
                </div>
                <input type="password" class="form-control" id="PasswordCheck" required />
                <span id="passwordMismatch" 
                style="display: none; color: red;"
                >Las contraseñas no coinciden
              </span>
              </div>
            </div>
            <div class="d-flex flex-row pt-3 gap-3 "> 
            <button type="submit" class="button button-primary">Cambiar</button>
            </div>
          </form>
        </div>
      </main>
      <script>
         const togglePasswordVisibility = (passwordId, toggleButtonId)=>{
              const password = $(`#${passwordId}`);
              const toggleButton = $(`#${toggleButtonId}`);

              toggleButton.click((event) => {
                const type = password.attr("type") === "password" ? "text" : "password";
                password.attr("type", type);
                $(event.target).toggleClass("bi-eye");
              });
          }
          togglePasswordVisibility("oldPassword", "togglePasswordOld");
          togglePasswordVisibility("NewPassword", "togglePasswordNew");
          togglePasswordVisibility("PasswordCheck", "togglePasswordNewCheck");
      </script>
      <script>
        $("input#NewPassword").keyup((event) => {
        const password = $(event.target).val();
        $.post(
          "/account/password/checkPassword",
          { password },
          (data, status, xhr) => {
            if (status === "error") {
              alert("error" + xhr.status + " " + xhr.statusText);
            } else {
              if (data !== "OK") {
                $(".password.error").addClass("show");
                $("input#password").addClass("error");
                $(".password.error ul").html(
                  data.map((problem) => {
                    return `<li> ${problem}</li>`;
                  })
                );
                $("button[type='submit']").attr("disabled", "disabled");
              } else {
                $(".password.error").removeClass("show");
                $("input#password").removeClass("error");
              }
            }
          }
        );
      });
      </script>      

  </body>
</html>
