<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../../../imports.ejs') %> 
    <link rel="stylesheet" href="/css/account.css">
  </head>
  <body>
        <!-- Includes top bar with title and search  and nav bar-->
    <header><%- include('./layout/layout.ejs') %></header>
    <main>

      
      <!--Left menu container-->
      <div class="leftMenuContainer">
        <%- include(./account/accountNav.ejs) %>
      </div>
      <form action ="/submit" method="post">
        <ul>
          <li>
            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword" name="oldPassword" required>
          </li>
          <li>
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" required>
          </li>
          <li>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
          </li>
          <li>
            <button type="submit" class="button primary">Change Password</button>
          </li>
        </ul>
      </form>
    </main>
  </body>
</html>
