<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" href="account.css">
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <section class="main-view">
      <div class="profile-title">
        <h1>Bienvenido <%= accountName %></h1>
      </div>
    </section>
      <main class = "main-content">
        <div class = "left-content">
          <%- include('../../features/account/accountNav.ejs') %>
        </div>

        <div class="right-content">
          <form class="d-flex account-form ">
            <div>
              <h2>Informaci칩n del perfil</h2>
            </div>
            <div class="form-group">
              <label for="password">Contrase침a antigua</label>
              <input type="none" class="form-control" id="oldPassword" required />
            </div>
            <div class="form-group">
              <label for="password">Nueva contrase침a</label>
              <input type="none" class="form-control" id="newPassword" required />
            </div>
            <div class="form-group">
              <label for="password">Nueva Contrase침a</label>
              <input type="none" class="form-control" id="newPasswordCheck" required />
            </div>
            <div class="d-flex flex-row pt-3 gap-3 "> 
            <button type="submit" class="button button-primary">Cambiar</button>
            </div>
          </form>
        </div>
      </main>

  </body>
</html>
