<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" href="account.css">
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <section class="main-view">
      <div class="profile-title">
        <h1>Bienvenido <%= accountName %></h1>
      </div>
    </section>
      <main class = "main-content">
        <div class = "left-content">
          <%- include('../../features/account/accountNav.ejs') %>
        </div>

        <div class="right-content">
          <form class="d-flex account-form ">
            <div>
              <h2>Cambiar contraseña</h2>
            </div>
            <div class="form-group">
              <label for="oldPassword">Introduzca la antigua contraseña</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="bi bi-eye-slash" id="togglePasswordOld"></i>
                  </div>
                </div>
                <input type="password" class="form-control" id="oldPassword" required />
              </div>
            </div>
            <div class="form-group">
              <label for="NewPassword">Introduzca una nueva contraseña</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="bi bi-eye-slash" id="togglePasswordNew"></i>
                  </div>
                </div>
                <input type="password" class="form-control" id="NewPassword" required />
              </div>
            </div>
            <div class="form-group">
              <label for="NewPasswordCheck">Introduzca de nuevo la contraseña</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="bi bi-eye-slash" id="togglePasswordNewCheck"></i>
                  </div>
                </div>
                <input type="password" class="form-control" id="NewPasswordCheck" required />
              </div>
            </div>
            <div class="d-flex flex-row pt-3 gap-3 "> 
            <button type="submit" class="button button-primary">Cambiar</button>
            </div>
          </form>
        </div>
      </main>
      <script>
         const togglePasswordVisibility = (passwordId, toggleButtonId)=>{
              const password = $(`#${passwordId}`);
              const toggleButton = $(`#${toggleButtonId}`);

              toggleButton.click((event) => {
                const type = password.attr("type") === "password" ? "text" : "password";
                password.attr("type", type);
                $(event.target).toggleClass("bi-eye");
              });
          }
          togglePasswordVisibility("oldPassword", "togglePasswordOld");
          togglePasswordVisibility("NewPassword", "togglePasswordNew");
          togglePasswordVisibility("NewPasswordCheck", "togglePasswordNewCheck");
      </script>
      <script>
        <!--TODO: this is as a reference, once I have a pull from origin main I may use conn methods-->
        const oldPassword = $("#oldPassword");
        oldPassword.change((event) => {
          const data = {
            oldPassword: oldPassword.val(),
          };
          $.ajax({
            type: "POST",
            url: "/account/checkPassword",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
              if (data === "true") {
                oldPassword.removeClass("is-invalid");
                oldPassword.addClass("is-valid");
              } else {
                oldPassword.removeClass("is-valid");
                oldPassword.addClass("is-invalid");
              }
            },
            error: function (error) {
              alert("Error al comprobar la contraseña");
            },
          });
        });

      </script>
      <script>
         <!--TODO: this is as a reference, once I have a pull from origin main I may use conn methods-->
        const form = $(".account-form");
        form.submit((event) => {
          event.preventDefault();
          const oldPassword = $("#oldPassword").val();
          const newPassword = $("#NewPassword").val();
          const newPasswordCheck = $("#NewPasswordCheck").val();
          if (newPassword !== newPasswordCheck) {
            alert("Las contraseñas no coinciden");
            return;
          }
          const data = {
            oldPassword,
            newPassword,
          };
          $.ajax({
            type: "POST",
            url: "/account/password",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
              alert("Contraseña cambiada correctamente");
              window.location.href = "/account/profile";
            },
            error: function (error) {
              alert("Error al cambiar la contraseña");
            },
          });
        });
      </script>
      <script>

      </script>

  </body>
</html>
