<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control" id="email" required />
</div>
<div class="form-group">
  <label for="password">Password</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="bi bi-eye-slash" id="togglePassword"></i>
      </div>
    </div>
    <input type="password" class="form-control" id="password" required />
  </div>
  <script>
    const togglePassword = $("#togglePassword");
    const password = $("#password");
    togglePassword.click((event) => {
      // Toggle the type attribute using
      // getAttribure() method
      const type = password.attr("type") === "password" ? "text" : "password";
      password.attr("type", type);
      // Toggle the eye and bi-eye icon
      $(event.target).toggleClass("bi-eye");
    });
  </script>
</div>
