<div class="order-nav">
  <a class="cart" href="/order/cart">
    <i class="state-icon bi bi-check-circle h2"></i>
    <p>Cart</p>
  </a>
  <div class="spacer">
    <div class="start cart"></div>
    <div class="end infos"></div>
  </div>
  <a class="infos" href="/order/infos">
    <i class="state-icon bi bi-clock h2"></i>
    <p>Infos</p>
  </a>
  <div class="spacer">
    <div class="start infos"></div>
    <div class="end payment"></div>
  </div>
  <a class="payment" href="/order/payment">
    <i class="state-icon bi bi-x-circle h2"></i>
    <p>Payment</p>
  </a>
</div>
<script>
  const activeOrderNav = () => {
    const orderNavItems = $(".order-nav *");
    const orderNavIcons = $(".order-nav i");
    //Remove all the styles
    orderNavItems.removeClass("completed").removeClass("current");
    orderNavIcons
      .removeClass("bi-check-circle")
      .removeClass("bi-x-circle")
      .removeClass("bi-clock");
    /* --------- */
    const currentItem = $(orderNavItems).filter(
      (_, item) => $(item).attr("href") === location.pathname
    );

    const currentSpacers = currentItem
      .siblings(`.spacer`)
      .find(`.${location.pathname.split("/").pop()}`);
    currentItem.addClass("current");
    currentItem.find("i").addClass("bi-clock");
    currentSpacers.addClass("current");
    /* --------- */
    const previousItems = currentItem.prevAll("a");

    if (previousItems.length)
      previousItems.each((_, item) => {
        $(item)
          .siblings(`.spacer`)
          .find(`.${$(item).attr("href").split("/").pop()}`)
          .addClass("completed");
      });

    previousItems.addClass("completed");
    previousItems.find("i").addClass("bi-check-circle");
    /* --------- */
    const nextItems = currentItem.nextAll("a");

    nextItems.find("i").addClass("bi-x-circle");
  };

  activeOrderNav();
</script>
