<link rel="stylesheet" type="text/css" href="/css/shop.css" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../imports.ejs') %>
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <%- include('./layout/mainbar.ejs') %>
    <main>
      <div class="product-details"><%=product.name%></div>
    </main>
  </body>
</html>
