/* ---------- Default LeftMenu ----------*/
.left-menu {
  display: flex;
  flex-direction: column;
  flex-basis: 1;
  background-color: white;
  width: 15rem;
  font-size: var(--font-lg);
  transition: 0.2s;
}
.left-menu i {
  margin: 0;
}
/* ---------- Collapsed LeftMenu ----------*/

.left-menu.collapse {
  width: 3rem;
  background-color: transparent;
  margin-left: 0.25rem;
}

.left-menu.collapse .left-menu-categories,
.left-menu.collapse .left-menu-filters,
.left-menu.collapse .left-menu-item,
.left-menu.collapse .left-menu-title,
.left-menu.collapse .left-menu-toggle .bi-chevron-left {
  transition: 0.05s;
  visibility: hidden;
}

.left-menu.collapse .left-menu-toggle {
  border-radius: 3rem;
  background-color: var(--gray-400);
  justify-content: center;
  padding: 0;
}

/* ---------- Collaspse button part ----------*/

.left-menu-toggle {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: end;
  background-color: var(--gray-200);
  padding-right: 0.25rem;
  cursor: pointer;
}

.left-menu-categories {
  background-color: var(--gray-200);
}

.left-menu-filters {
  height: fit-content;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.left-menu-title {
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem 0 0.5rem;
  font-weight: bold;
  font-size: var(--font-xl);
  height: 2.5rem;
  align-items: center;
}

.left-menu-categories .left-menu-item {
  display: flex;
  color: var(--gray-800);
  text-decoration: none;
  padding: 0 0.5em 0 0.5em;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 0.75rem;
  align-items: center;
  height: 3rem;
  width: 14rem;
  transition: all 0.2s;
}

.left-menu-categories .left-menu-item:hover {
  font-size: var(--font-2xl);
}

.left-menu-categories .left-menu-item.active {
  background: var(--gray-500);
  color: white;
  font-weight: bold;
}

.left-menu-filters .left-menu-item {
  display: flex;
  flex-direction: row;
  height: 3rem;
  padding: 0 0.5em 0 0.5em;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: 14rem;
}

.left-menu-filters .button {
  width: 100%;
}
/* For mobile devices */
@media all and (max-width: 768px) {
  .left-menu {
    position: fixed;
    right: 0;
    top: 4rem;
    z-index: 2;
    font-size: var(--font-sm);
    width: 100vw;
    opacity: 0.9;
    height: 100%;
  }
  .left-menu-categories .left-menu-item:hover {
    font-size: var(--font-lg);
  }

  .left-menu-toggle {
    justify-content: flex-start;
    padding-left: 0.25rem;
  }
}
