<div class="form-group">
  <label for="email">Email</label>
  <input
      name="email"
      type="email"
      class="form-control"
      id="email"
      <%if(type
  ==="signup") {%>
      onblur="checkEmail(event)"
      onfocus="removeEmailError()"
      <%}%>
  required />
  <span class="email error">An account already exists with this email.</span>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i
          class="bi bi-eye-slash"
          id="togglePassword"
          onclick="togglePassword(event)"
        ></i>
      </div>
    </div>
    <input name="password" type="password" class="form-control" id="password"
    <%if(type ==="signup") {%>
      onkeyup="checkPassword(event)"
      <%}%> required />
  </div>
  <span class="password error align-items-start"
    >Your password should:
    <ul></ul>
  </span>
</div>