<div class="row">
  <h2>Reset Your Password</h2>
  <div class="col-md-6">
    <div class="form-group">
      <label for="newpwd">New Password</label>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="bi bi-eye-slash" id="toggleNewPassword"></i>
          </div>
        </div>
        <!-- Input for New Password -->
        <input
          name="newPassword"
          type="password"
          class="form login-form form-control"
          id="newPassword"
          required
        />
      </div>
      <div class="password error" style="display: none">
        Password must be at least 8 characters and contain at least 1 special
        character and 1 capital letter
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="cnfpwd">Confirm Password</label>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
          </div>
        </div>
        <!-- Input for Confirm Password -->
        <input
          name="confirmPassword"
          type="password"
          class="form login-form form-control"
          id="confirmPassword"
          required
        />
      </div>
      <div class="password error" style="display: none">
        Passwords do not match
      </div>
    </div>
  </div>
  <button type="submit" class="button button-primary" disabled>
    Reset Password
  </button>
</div>

<!-- Your scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  const toggleNewPassword = $("#toggleNewPassword");
  const newPassword = $("#newPassword");
  const toggleConfirmPassword = $("#toggleConfirmPassword");
  const confirmPassword = $("#confirmPassword");
  const submitButton = $("button[type='submit']");
  const passwordRegex = /^(?=.*[!@#$%^&*])(?=.*[A-Z]).{8,}$/;

  toggleNewPassword.click((event) => {
    const type = newPassword.attr("type") === "password" ? "text" : "password";
    newPassword.attr("type", type);
    $(event.target).toggleClass("bi-eye");
  });

  toggleConfirmPassword.click((event) => {
    const type =
      confirmPassword.attr("type") === "password" ? "text" : "password";
    confirmPassword.attr("type", type);
    $(event.target).toggleClass("bi-eye");
  });

  const validatePasswordMatch = () => {
    const newPasswordVal = newPassword.val();
    const confirmPasswordVal = confirmPassword.val();

    if (passwordRegex.test(newPasswordVal)) {
      if (newPasswordVal !== confirmPasswordVal) {
        $(".password.error").eq(1).show();
        submitButton.attr("disabled", "disabled");
      } else {
        $(".password.error").eq(1).hide();
        submitButton.removeAttr("disabled");
      }
    }
  };

  newPassword.on("input", () => {
    const newPasswordVal = newPassword.val();

    if (!passwordRegex.test(newPasswordVal)) {
      $(".password.error")
        .eq(0)
        .show()
        .find("ul")
        .html(
          `<li>Password must be at least 8 characters and contain at least 1 special character and 1 capital letter</li>`
        );
      newPassword.addClass("error");
      submitButton.attr("disabled", "disabled");
    } else {
      $(".password.error").eq(0).hide();
      newPassword.removeClass("error");
      submitButton.removeAttr("disabled");
      validatePasswordMatch();
    }
  });

  confirmPassword.on("input", () => {
    validatePasswordMatch();
  });
</script>
