.menu-navbar,
.menu-navbar .nav-link {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  background-color: var(--gray-600);
  height: 3rem;
  color: var(--gray-300);
  align-content: center;
  justify-content: center;
  z-index: 1;
}

.navbar.menu-navbar,
.navbar.menu-navbar > .navbar-container,
.navbar.menu-navbar .nav-item {
  padding: 0;
}

.menu-navbar .nav-link {
  width: 8rem;
}
.menu-navbar .nav-item {
  position: relative;
}

.menu-navbar .nav-link.active {
  background-color: var(--gray-500);
  color: white;
  font-weight: bold;
}

.menu-navbar .nav-link::after {
  border-radius: 1em;
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 0.6rem;
  transform: translate(-50%, 0);
  content: ' ';
  width: 0.2em;
  height: 0.15em;
  background: var(--gray-300);
  transition: all 0.2s;
}

.menu-navbar .nav-link:hover::after {
  width: 1.5rem;
}

.menu-navbar .nav-link.active::after {
  width: 1.5rem;
  background: white;
}

@media all and (max-width: 768px) {
  .menu-navbar .nav-link {
    width: 5rem;
    font-size: var(--font-sm);
  }

  .menu-navbar {
    position: fixed;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
    z-index: 10;
  }

  .menu-navbar,
  .menu-navbar .navbar-container,
  .menu-navbar .nav-item,
  .menu-navbar .nav-link {
    height: 4.5rem;
  }

  .menu-navbar .nav-link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
  }

  .menu-navbar .nav-link i {
    font-size: var(--font-3xl);
  }

  .menu-navbar .nav-link.active {
    font-weight: bold;
    border-radius: 1rem;
  }
  .menu-navbar .nav-link::after {
    display: none;
  }
}
