.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.topbar {
  background-color: var(--gray-800);
  height: 4rem;
}
.navbar-brand {
  font-size: var(--font-3xl);
}
.topbar,
.navbar-brand,
.topbar-actions a {
  color: white;
}

.topbar-actions {
  gap: 1.5rem;
  position: relative;
}
.navbar-brand:hover {
  color: var(--gray-300);
}

.dropdown-toggle::after {
  display: none;
}
.account-menu .dropdown-item,
.cart-menu .dropdown-item {
  display: flex;
  color: var(--gray-900);
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
}

.cart-button {
  position: relative;
}

.account-menu .dropdown-item:hover {
  background: var(--gray-200);
}

.cart-button .nb-products {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0.25rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 1rem;
  color: white;
  background-color: red;
  font-size: var(--font-sm);
  padding-right: 0.05rem;
}

#dropdownLang {
  color: white;
}

.navbar-brand-icon {
  height: 3rem;
  width: 3rem;
}

@media all and (max-width: 768px) {
  .navbar-brand:not(.mobile) {
    display: none;
  }

  .cart-button,
  .account-menu {
    display: flex;
    align-items: center;
  }

  .topbar .lang > .button {
    padding: 0.5rem 0;
  }

  .cart-button .h2 {
    margin: 0;
  }

  .navbar-brand.mobile {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
  }

  .topbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    padding: 0 1rem;
    flex-wrap: nowrap;
  }

  .topbar-actions {
    width: 100%;
  }

  .topbar-actions .lang {
    margin-right: auto;
  }

  .topbar-actions i.h2 {
    font-size: xx-large;
  }
}
